<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<SexyContent FileVersion="07.00.00" MinimumRequiredVersion="07.00.00" ModuleVersion="09.33.00" ExportDate="2018-11-17T05:21:02.0028604+01:00">
  <Header>
    <App Guid="58c02a22-9e89-42c0-a2d7-7cd8db105de5" />
    <Language Default="en-US" />
    <Dimensions />
  </Header>
  <AttributeSets>
    <AttributeSet StaticName="App-Resources" Name="App-Resources" Description="Stores resources like translations for an app" Scope="2SexyContent-App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
    <AttributeSet StaticName="App-Settings" Name="App-Settings" Description="Stores settings for an app" Scope="2SexyContent-App" AlwaysShareConfiguration="false">
      <Attributes />
    </AttributeSet>
    <AttributeSet StaticName="06ba7809-5669-41b9-966b-3623127f6952" Name="Timeline Entry" Description="Timeline Entry" Scope="2SexyContent" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Headline" Type="String" IsTitle="true">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="31c9a48f-4991-4b6e-b4c3-92046c36c29f" KeyNumber="509">
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="Headline" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Required" Value="True" Type="Boolean" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="StartDate" Type="DateTime" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="4174895e-8262-454d-96a5-7657d32ff69f" KeyNumber="510">
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="StartDate" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Required" Value="True" Type="Boolean" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="EndDate" Type="DateTime" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="06a24535-e83a-498a-ba08-8940a9816caf" KeyNumber="511">
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="EndDate" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Required" Value="True" Type="Boolean" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Body" Type="String" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="1c8e15a6-b060-40c9-a7c8-aed29f2c641d" KeyNumber="512">
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="Body" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="3616ddfa-914f-48f9-af22-2d60e94a2847" KeyNumber="512">
            <Value Key="DropdownValues" Value="" Type="String" />
            <Value Key="InputType" Value="wysiwyg" Type="String" />
            <Value Key="RowCount" Value="1" Type="Number" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Media" Type="Hyperlink" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="a8915c7d-4ac3-409a-8b23-5951762872ea" KeyNumber="513">
            <Value Key="DefaultValue" Value="http://2sxc.org/" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="Media" Type="String" />
            <Value Key="Notes" Value="&lt;p&gt;Link to an image, a web site, a video or almost anything you can think of. TimelineJS will create a cool preview for you.&amp;nbsp;&lt;/p&gt;" Type="String" />
            <Value Key="Required" Value="True" Type="Boolean" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@Hyperlink" AttributeSetName="@Hyperlink" EntityGUID="91763ae2-2040-47f8-9b88-6f1410f81236" KeyNumber="513">
            <Value Key="DefaultDialog" Value="ImageManager" Type="String" />
            <Value Key="FileFilter" Value="" Type="String" />
            <Value Key="Paths" Value="" Type="String" />
            <Value Key="ShowFileManager" Value="False" Type="Boolean" />
            <Value Key="ShowImageManager" Value="True" Type="Boolean" />
            <Value Key="ShowPagePicker" Value="False" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="MediaCredit" Type="String" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="9187dced-2cd1-479d-8c09-ced0ab6f9357" KeyNumber="514">
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="MediaCredit" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="MediaCaption" Type="String" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="8dbd7721-9a3d-4447-9e36-e9ac7fcca4f2" KeyNumber="515">
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="MediaCaption" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
    <AttributeSet StaticName="c91b95cb-8001-4f51-a73d-e9b83a3c2669" Name="Timeline Settings" Description="Timeline List Settings" Scope="2SexyContent" AlwaysShareConfiguration="false">
      <Attributes>
        <Attribute StaticName="Headline" Type="String" IsTitle="true">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="51dda8a4-5d39-4253-8726-756594ec9045" KeyNumber="516">
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="Headline" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Required" Value="True" Type="Boolean" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="Text" Type="String" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="58108187-3275-4594-8fe5-b1ed63515f54" KeyNumber="517">
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="Text" Type="String" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@String" AttributeSetName="@String" EntityGUID="615e4350-450c-4fd9-9e16-a48d58eb821a" KeyNumber="517">
            <Value Key="DropdownValues" Value="" Type="String" />
            <Value Key="InputType" Value="wysiwyg" Type="String" />
            <Value Key="RowCount" Value="1" Type="Number" />
          </Entity>
        </Attribute>
        <Attribute StaticName="StartDate" Type="DateTime" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="7568c91a-d61f-4141-a44e-2b929e80c173" KeyNumber="518">
            <Value Key="DefaultValue" Value="" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="StartDate" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Required" Value="True" Type="Boolean" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="StartAtSlide" Type="Number" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="b5e89155-05bc-40da-bbda-ab636a3f1ff9" KeyNumber="519">
            <Value Key="DefaultValue" Value="0" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="StartAtSlide" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Required" Value="True" Type="Boolean" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
        <Attribute StaticName="StartZoomAdjust" Type="Number" IsTitle="false">
          <Entity AssignmentObjectType="EAV Field Properties" AttributeSetStaticName="@All" AttributeSetName="@All" EntityGUID="630d3006-7984-4397-be4d-606bb055ff2b" KeyNumber="520">
            <Value Key="DefaultValue" Value="2" Type="String" />
            <Value Key="InputType" Value="" Type="String" />
            <Value Key="Name" Value="StartZoomAdjust" Type="String" />
            <Value Key="Notes" Value="" Type="String" />
            <Value Key="Required" Value="True" Type="Boolean" />
            <Value Key="VisibleInEditUI" Value="True" Type="Boolean" />
          </Entity>
        </Attribute>
      </Attributes>
    </AttributeSet>
  </AttributeSets>
  <Entities>
    <Entity AssignmentObjectType="App" AttributeSetStaticName="2SexyContent-App" AttributeSetName="2SexyContent-App" EntityGUID="df41031f-c359-40ed-9cad-fe0f85a1f546" KeyNumber="9">
      <Value Key="AllowRazorTemplates" Value="True" Type="Boolean" />
      <Value Key="AllowTokenTemplates" Value="False" Type="Boolean" />
      <Value Key="Description" Value="A timeline App for creating nice timelines. It's basically a DNN-wrapper for the awesome TimelineJS" Type="String" />
      <Value Key="DisplayName" Value="TimelineJS" Type="String" />
      <Value Key="Folder" Value="TimelineJS" Type="String" />
      <Value Key="Hidden" Value="False" Type="Boolean" />
      <Value Key="OriginalId" Value="58c02a22-9e89-42c0-a2d7-7cd8db105de5" Type="String" />
      <Value Key="RequiredDnnVersion" Value="07.02.00" Type="String" />
      <Value Key="RequiredVersion" Value="09.33.00" Type="String" />
      <Value Key="SupportsAjaxReload" Value="False" Type="Boolean" />
      <Value Key="Version" Value="01.08.02" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="App" AttributeSetStaticName="App-Settings" AttributeSetName="App-Settings" EntityGUID="c45c4651-96d9-4717-9f2b-5892994a6279" KeyNumber="9" />
    <Entity AssignmentObjectType="App" AttributeSetStaticName="App-Resources" AttributeSetName="App-Resources" EntityGUID="d4798585-e2bd-4f54-960f-7ce4b8057298" KeyNumber="9" />
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="2SexyContent-Template" AttributeSetName="2SexyContent-Template" EntityGUID="69475b7d-c6ff-425c-8761-cbca61aa16cb">
      <Value Key="ContentDemoEntity" Value="null" Type="Entity" />
      <Value Key="ContentTypeStaticName" Value="06ba7809-5669-41b9-966b-3623127f6952" Type="String" />
      <Value Key="IsHidden" Value="False" Type="Boolean" />
      <Value Key="ListContentDemoEntity" Value="null" Type="Entity" />
      <Value Key="ListContentTypeStaticName" Value="c91b95cb-8001-4f51-a73d-e9b83a3c2669" Type="String" />
      <Value Key="ListPresentationTypeStaticName" Value="" Type="String" />
      <Value Key="Location" Value="Portal File System" Type="String" />
      <Value Key="Name" Value="Timeline" Type="String" />
      <Value Key="Path" Value="Timeline.html" Type="String" />
      <Value Key="PresentationTypeStaticName" Value="" Type="String" />
      <Value Key="PublishData" Value="True" Type="Boolean" />
      <Value Key="StreamsToPublish" Value="Default,ListContent" Type="String" />
      <Value Key="Type" Value="Token" Type="String" />
      <Value Key="UseForList" Value="True" Type="Boolean" />
      <Value Key="ViewNameInUrl" Value="" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="c91b95cb-8001-4f51-a73d-e9b83a3c2669" AttributeSetName="Timeline Settings" EntityGUID="c808ae6e-bcc1-41ee-a07e-4107b9bd03a7">
      <Value Key="Headline" Value="Test" Type="String" />
      <Value Key="StartAtSlide" Value="0" Type="Number" />
      <Value Key="StartDate" Value="2018-11-08T00:00:00" Type="DateTime" />
      <Value Key="StartZoomAdjust" Value="2" Type="Number" />
      <Value Key="Text" Value="&lt;p&gt;tekst&lt;/p&gt;" Type="String" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="06ba7809-5669-41b9-966b-3623127f6952" AttributeSetName="Timeline Entry" EntityGUID="ec7893dc-a28d-4b8b-b62e-ebd74e261040">
      <Value Key="Body" Value="&lt;p&gt;demo&lt;/p&gt;" Type="String" />
      <Value Key="EndDate" Value="2018-11-16T00:00:00" Type="DateTime" />
      <Value Key="Headline" Value="T1" Type="String" />
      <Value Key="Media" Value="http://2sxc.org/" Type="Hyperlink" />
      <Value Key="MediaCaption" Value="" Type="String" />
      <Value Key="MediaCredit" Value="" Type="String" />
      <Value Key="StartDate" Value="2018-11-09T00:00:00" Type="DateTime" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="06ba7809-5669-41b9-966b-3623127f6952" AttributeSetName="Timeline Entry" EntityGUID="98feebf3-6049-454b-a091-4023bb5783d1">
      <Value Key="Body" Value="" Type="String" />
      <Value Key="EndDate" Value="2018-11-15T00:00:00" Type="DateTime" />
      <Value Key="Headline" Value="Demo" Type="String" />
      <Value Key="Media" Value="http://2sxc.org/" Type="Hyperlink" />
      <Value Key="MediaCaption" Value="" Type="String" />
      <Value Key="MediaCredit" Value="" Type="String" />
      <Value Key="StartDate" Value="2018-11-08T00:00:00" Type="DateTime" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="06ba7809-5669-41b9-966b-3623127f6952" AttributeSetName="Timeline Entry" EntityGUID="2989fe62-0ba5-4081-9dd5-c39c89a580cb">
      <Value Key="Body" Value="" Type="String" />
      <Value Key="EndDate" Value="2018-11-17T00:00:00" Type="DateTime" />
      <Value Key="Headline" Value="T2" Type="String" />
      <Value Key="Media" Value="http://2sxc.org/" Type="Hyperlink" />
      <Value Key="MediaCaption" Value="" Type="String" />
      <Value Key="MediaCredit" Value="" Type="String" />
      <Value Key="StartDate" Value="2018-11-10T00:00:00" Type="DateTime" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="06ba7809-5669-41b9-966b-3623127f6952" AttributeSetName="Timeline Entry" EntityGUID="3b992a21-b6c4-4da2-a3c2-631afece6ce8">
      <Value Key="Body" Value="" Type="String" />
      <Value Key="EndDate" Value="2018-11-18T00:00:00" Type="DateTime" />
      <Value Key="Headline" Value="T3" Type="String" />
      <Value Key="Media" Value="http://2sxc.org/" Type="Hyperlink" />
      <Value Key="MediaCaption" Value="" Type="String" />
      <Value Key="MediaCredit" Value="" Type="String" />
      <Value Key="StartDate" Value="2018-11-11T00:00:00" Type="DateTime" />
    </Entity>
    <Entity AssignmentObjectType="Default" AttributeSetStaticName="06ba7809-5669-41b9-966b-3623127f6952" AttributeSetName="Timeline Entry" EntityGUID="0904ad81-547d-42b0-a1d6-e60273c451b3">
      <Value Key="Body" Value="" Type="String" />
      <Value Key="EndDate" Value="2018-11-22T00:00:00" Type="DateTime" />
      <Value Key="Headline" Value="T4" Type="String" />
      <Value Key="Media" Value="http://2sxc.org/" Type="Hyperlink" />
      <Value Key="MediaCaption" Value="" Type="String" />
      <Value Key="MediaCredit" Value="" Type="String" />
      <Value Key="StartDate" Value="2018-11-15T00:00:00" Type="DateTime" />
    </Entity>
  </Entities>
  <PortalFiles />
  <PortalFolders>
    <Folder Id="112" RelativePath="adam/TimelineJS/" />
  </PortalFolders>
</SexyContent>