@inherits Custom.Hybrid.Razor14
@{
  var timelineJsAttribute = "app-timelinejs2-" + CmsContext.Module.Id;
}

<div class="app-timelinejs2" @timelineJsAttribute></div>
@Html.Partial("Timeline.PartAssets.cshtml", new { DomAttribute = timelineJsAttribute })